# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
# Virtual environments
venv/
.env/
.venv/

# environment variables
.env
.venv/
.python-version
# OS-specific files
.DS_Store
Thumbs.db

# scripts
scripts/

# ruff
.ruff_cache/

# redis
dump.rdb
